/* Main elements styles */

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	padding: 0;
	background-color: #121212;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #E1E3E6;
	letter-spacing:.30px;
}

a, a:visited, a:active{
	color: inherit;
	display: block;
	text-decoration: none;
}

/* Main page styles */

.app{
	width: 100%;
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 130px;
	padding-right: 130px;
	box-sizing: border-box;
}

.app-continer{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	margin-bottom: 20px;
}

.app-last{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 132px;
	padding-right: 132px;
	background: rgba(0,0,0,0.6);
	font-size: 0.8em;
	user-select: none;
	color: #dddddd;
}

.app-block{
	background: rgba(0,0,0,.15);
	padding: 10px;
	border-radius: 20px;
}

.app-block-title{
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px;
	cursor: default;
}

.app-block-link{
	padding: 10px;
}

.app-block-link img{
	width: 20px;
	height: auto;
	border: 0;
	display: inline-block;
	vertical-align: -4px;
	margin-right: 10px;
}

.app-block-link-announce{
	padding: 10px;
}

.app-block-link-announce img{
	width: 30px;
	height: auto;
	border: 0;
	display: inline-block;
	margin-right: 10px;
}

.app-block-link:hover, .app-block-link-announce:hover{
	border-radius: 8px;
	background: rgba(0,0,0,.08);
	color: #ec008c;
	cursor: pointer;
}

.app-block-title img{
	width: 220px;
}

.app-block-text{
	padding: 10px;
}

.app-block-email{
	padding: 10px;
	width: fit-content;
	color: #ec008c;
}

.app-block-email:hover{
	border-radius: 8px;
	background: rgba(0,0,0,.08);
	cursor: pointer;
}

.app-date{
	float: right;
}

/* Main sub pages styles */

