body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	padding: 0;
	background: linear-gradient(99deg, #1b181f, #320459);
    background-size: 400% 400%;

    -webkit-animation: KusamaHub 30s ease infinite;
    -moz-animation: KusamaHub 30s ease infinite;
    animation: KusamaHub 30s ease infinite;
	color: #E1E3E6;
}


@-webkit-keyframes KusamaHub {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes KusamaHub {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes KusamaHub {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

a, a:visited, a:active{
color: #fff;
display: block;
text-decoration: none;
}

.linktree-body{
	box-sizing: border-box;
	margin: 20px;
}

.logo {
	margin-top: 30px;
	text-align: center;
}

.logo img{
	width: 350px;
}

.descrption{
	color: #fff;
	text-align: center;
	font-weight: 14px;
}

.footer{
	font-size: 14px;
	text-align: center;
}

.links-tree{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin-top: 50px;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.link-button{
	background-color: #eb3483;
	font-weight: bold;
	text-align: center;
	padding: 20px 10px;
	border-radius: 50px;
}